<html>
    <head>
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .sectionMTIS{
                display: none;
            }
            .sectionMTISHome{
                display: block;
            }
            .container{
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation" class="active sectionMTISli"><a href="#" mtis-ref="section1">Home</a></li>
                <li role="presentation" class=" sectionMTISli"><a href="#" mtis-ref="section2">validarNIF</a></li>
                <li role="presentation" class=" sectionMTISli"><a href="#" mtis-ref="section3">validarIBAN</a></li>
                <li role="presentation" class=" sectionMTISli"><a href="#" mtis-ref="section4">consultaCodigoPostal</a></li>
                <li role="presentation" class=" sectionMTISli"><a href="#" mtis-ref="section5">generarPresupuesto</a></li>
            </ul>
            <div id="section1" class="sectionMTIS sectionMTISHome">
                <h1>MTIS Práctica 2</h1>
                <p>Práctica 2 de MTIS, cliente en html/js que se comunica con una APIREST en nodejs</p>
                <p>Autor: Diego Maroto</p>
                <p>La RestKey por defecto es: <b>mtis</b></p>
            </div>
            <div id="section2" class="sectionMTIS">
                <h1>Valida un NIF</h1>
                <form id="section2form">
                    <div class="form-group">
                        <label for="inputNIF">NIF</label>
                        <input type="text" class="form-control" id="inputNIF" placeholder="NIF">
                    </div>
                    <div class="form-group">
                        <label for="inputRK">RestKey</label>
                        <input type="text" class="form-control" id="input2RK" placeholder="RK">
                    </div>
                    <input type="submit" class="btn btn-default" value="ValidarNIF">
                </form>
                <div class="section2result">
                    <p>Resultado: -</p>
                </div>
            </div>
            <div id="section3" class="sectionMTIS">
                <h1>Valida un IBAN</h1>
                <form id="section3form">
                    <div class="form-group">
                        <label for="inputIBAN">IBAN</label>
                        <input type="text" class="form-control" id="inputIBAN" placeholder="IBAN">
                        <p>Ejemplo correcto: ES0690000001210123456789</p>
                    </div>
                    <div class="form-group">
                        <label for="inputRK">RestKey</label>
                        <input type="text" class="form-control" id="input3RK" placeholder="RK">
                    </div>
                    <input type="submit" class="btn btn-default" value="ValidarIBAN">
                </form>
                <div class="section3result">
                    <p>Resultado: -</p>
                </div>
            </div>
            <div id="section4" class="sectionMTIS">
                <h1>Valida un Código Postal</h1>
                <p>
                    Válidos:
                </p>
                <ul>
                    <li>03001</li>
                    <li>03111</li>
                    <li>03201</li>
                    <li>02001</li>
                </ul>
                <form id="section4form">
                    <div class="form-group">
                        <label for="inputCP">Código Postal</label>
                        <input type="text" class="form-control" id="inputCP" placeholder="Código Postal (03001)">
                    </div>
                    <div class="form-group">
                        <label for="inputRK">RestKey</label>
                        <input type="text" class="form-control" id="input4RK" placeholder="RK">
                    </div>
                    <input type="submit" class="btn btn-default" value="ValidarCP">
                </form>
                <div class="section4result">
                    <p>Resultado: -</p>
                </div>
            </div>
            <div id="section5" class="sectionMTIS">
                <h1>Crea un presupuesto</h1>
                <form id="section5form">
                    <div class="form-group">
                        <label for="inputIBAN">Fecha Presupuesto</label>
                        <input type="date" class="form-control" id="inputFechaPresupuesto">
                    </div>
                    <div class="form-group">
                        <label for="inputIBAN">ID Cliente</label>
                        <input type="number" class="form-control" id="inputIdClientePresupuesto" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="inputIBAN">Referencia Producto</label>
                        <input type="text" class="form-control" id="inputRefProductoPresupuesto" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="inputIBAN">Cantidad Producto</label>
                        <input type="number" class="form-control" id="inputCantidadProductoPresupuesto" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="inputRK">RestKey</label>
                        <input type="text" class="form-control" id="input5RK" placeholder="RK">
                    </div>
                    <input type="submit" class="btn btn-default" value="ValidarIBAN">
                </form>
                <div class="section5result">
                    <p>Resultado: -</p>
                </div>
            </div>
            <form>

            </form>
        </div>
        <script>
            $("form").submit(function(e){e.preventDefault()})
            $("#section2form").submit(function(e){
                fetch("http://localhost:3000/validarNIF?nif="+$("#inputNIF").val()+"&RestKey="+$("#input2RK").val())
                .then(function(resp){
                    return resp.json()
                })
                .then(function(resp){
                    if(resp.error)
                        throw resp.error
                    else
                        $('.section2result').html('<p>Resultado: '+resp.data+'</p>')
                    console.log("OK fetch validarNIF")
                })
                .catch(function(error){
                    $('.section2result').html('<p>ERROR: '+JSON.stringify(error)+'</p>')
                    console.log("Error fetch validarNIF")
                })
            })
            $("#section3form").submit(function(e){
                fetch("http://localhost:3000/validarIBAN?iban="+$("#inputIBAN").val()+"&RestKey="+$("#input3RK").val())
                .then(function(resp){
                    return resp.json()
                })
                .then(function(resp){
                    if(resp.error)
                        throw resp.error
                    else
                        $('.section3result').html('<p>Resultado: '+resp.data+'</p>')
                    console.log("OK fetch validarIBAN")
                })
                .catch(function(error){
                    console.log("Error fetch validarIBAN")
                    $('.section3result').html('<p>ERROR: '+JSON.stringify(error)+'</p>')
                })
            })
            $("#section4form").submit(function(e){
                fetch("http://localhost:3000/consultaCodigoPostal?cp="+$("#inputCP").val()+"&RestKey="+$("#input4RK").val())
                .then(function(resp){
                    return resp.json()
                })
                .then(function(resp){
                    if(resp.error)
                        throw resp.error
                    else
                        $('.section4result').html('<p>Resultado: '+JSON.stringify(resp.data)+'</p>')
                    console.log("OK fetch validarCP")
                })
                .catch(function(error){
                    console.log("Error fetch validarCP")
                    $('.section4result').html('<p>ERROR: '+JSON.stringify(error)+'</p>')
                })
            })
            $("#section5form").submit(function(e){
                var payload = {
                    fechaPresupuesto:""+$("#inputFechaPresupuesto").val(),
                    idCliente:""+$("#inputIdClientePresupuesto").val(),
                    referenciaProducto:""+$("#inputRefProductoPresupuesto").val(),
                    cantidadProducto:""+$("#inputCantidadProductoPresupuesto").val(),
                    RestKey:""+$("#input5RK").val()
                }

                fetch("http://localhost:3000/generarPresupuesto"
                ,{
                    method:'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(payload)
                })
                .then(function(resp){
                    return resp.json()
                })
                .then(function(resp){
                    if(resp.error)
                        throw resp.error
                    else
                        $('.section5result').html('<p>Resultado: '+JSON.stringify(resp.data)+'</p>')
                    console.log("OK fetch generarPresupuesto")
                })
                .catch(function(error){
                    console.log("Error fetch generarPresupuesto")
                    $('.section5result').html('<p>ERROR: '+JSON.stringify(error)+'</p>')
                })
            })
            $(".sectionMTISli").click(function(){
                $(".sectionMTIS").hide()
                $(".sectionMTISli").removeClass("active")
                $("#"+$(this).children().attr("mtis-ref")).show()
                $(this).addClass("active")
            })
        </script>
    </body>
</html>